<nb-card-body>
    <div class="row show-grid">
        <div class="col-md-3">
          <label for="userName">Batch
            <span class="text-danger">*</span>
          </label>
          <div style="width:250px;left: 60px;">
              <select class="form-control" aria-placeholder="Select Batch" [(ngModel)]="selectobj"  (change)="batchselOnChange(selectobj)">
                  <option [value]="batch.BatchId" *ngFor="let batch of activeBatchList">{{batch.AcademicYear}}</option>
              </select>
          </div>
        </div>
        <div class="col-md-3" style="margin-left: 1%;">
            <label for="userName">Program
              <span class="text-danger">*</span>
            </label>
            <div style="width:250px;">
             <select class="form-control" aria-placeholder="Select Branch" [(ngModel)]="selectProgramobj"  (change)="programselOnChange(selectProgramobj)">
                <option [value]="Program.ProgramId" *ngFor="let Program of programList">{{Program.ProgramName}}</option>
             </select>             
            </div>
        </div>
        <div class="shape-container col-md-3" style="width:100px;margin-top: 25px;margin-left: 550px;margin-top: -50px;">
            <div style="margin-left: 1%;margin-top: 1%;">
              <button class="btn btn-outline-success btn-icon" (click)="getBranchGrid()" ><i _ngcontent-c19="" style="font-size: 2rem;font-weight: bold;" class="nb-arrow-right"></i></button>
            </div>
        </div>
      </div>
  </nb-card-body>
  <br/>
  <br/>

  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  th {
      border: 1px solid #ecf00d;
      color:white;
      text-align: left;
      padding: 8px;
  }
  td {
    border: 1px solid #ecf00d;
    color:rgb(14, 13, 13);
    text-align: left;
    padding: 8px;
    background-color: white;
  }
  </style>
<div *ngIf="isdatathere">
    <div class="row">
      <div class="col-md-8">

      </div>
      <div  class="col-md-4">
        <button class="btn btn-success float-right" (click)="onClick()">
          ASSIGN
        </button>
        <button class="btn btn-success float-right" (click)="removeBranchfrmMapping()" *ngIf="isdatathere" style='margin-right:16px'>REMOVE</button>       
      </div>
    </div>
    <br/>
    <div class="row" style="margin-left: 1px;margin-right: -1px;">
      <table>
        <thead class="col-md-12" style="background-color: #FF9800;">
          <th>
              BranchCode
          </th>
          <th>
              BranchName
          </th>
          <th>
             <input type="checkbox">Select All
         </th>
        </thead>
        <tbody>
          <tr *ngFor="let branch of progarmBranchMappedList">
              <td> {{branch.BranchCode}}</td>
              <td> {{branch.BranchName}}</td>
              <td><input type="checkbox" [(ngModel)]="branch.IsSelected"
                (change)="IscheckedBranches(branch)"></td>
          </tr>          
        </tbody>
     </table>
    </div>

  <!-- </div> 
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="name">UserName</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="email">UserEmail</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="age">Age</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="city">User City</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of mf.data">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="text-right">{{user.age}}</td>
        <td>{{user.city | uppercase}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
  </table> -->