<nb-card-body>
  <div class="row show-grid">
    <div class="col-md-3">
      <label for="userName">DegreeType
        <span class="text-danger">*</span>
      </label>
      <div style="width:250px;left: 60px;">
          <select class="form-control" [(ngModel)]="selectobj"  (change)="filterChanged(selectobj)">  
              <option >Degree Type</option> 
                <option [value]="degreeType.DegreeTypeId" *ngFor="let degreeType of DegreeTypeList">{{degreeType.DegreeTypeCode}}</option>  
         </select> 
         <!-- {{selectedDegree}}              -->
      </div>
    </div>
    <div class="col-md-3" style="margin-left: 1%;">            
        <div style="width:250px;margin-top: 25px;">
            <button type="submit" (click)="getProgramGrid(selectobj)"  class="btn btn-success">GO</button> 
        </div>
      </div>
  </div>
</nb-card-body>

<nb-card>  
<nb-card-body>      
<ng2-smart-table [settings]="settings" [source]="source.data" (deleteConfirm)="onDeleteConfirm($event)"  (editConfirm)="onSaveConfirm($event)"
(createConfirm)="onCreateConfirm($event)">
</ng2-smart-table>
</nb-card-body>
</nb-card>