<nb-card>
  <nb-card-header>
     Select Semester To Assign
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </nb-card-header>

  <br />
  <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #636060;
  text-align: left;
  padding: 8px;
}
</style>
  <table>
    <thead class="col-md-12" style="background-color: #3f5163; color: white;">
      <th> SL </th>
      <th> CourseCode </th>
      <th> CourseName </th>
      <th> Action </th>
    </thead>
    <tbody>
      <tr *ngFor="let semester of SemesterNotMappedList;let i = index;">
        <td> {{i+1}} </td>
        <td> {{semester.CourseCode}} </td>
        <td> {{semester.CourseName}} </td>
        <td><input type="checkbox" [(ngModel)]="semester.IsSelected" 
          (change)="IscheckedCourses(semester)"></td>
      </tr>
    </tbody>
  </table>

  <nb-card-footer>
    <div>
      <button (click)="closeModal()" style="right: 0px;" class="btn btn-danger btn-rectangle btn-demo float-right">CLOSE</button>
    </div>
    <div class="form-group row">
      <div class="offset-sm-3 col-sm-9">
        <button type="submit" class="btn btn-success float-right" style="right: 0px;" (click)="saveDetails();">SAVE</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>