<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Academic Setup</nb-card-header>
      <nb-card-body>
        <div class="btn-with-icon-example">
          <a [routerLink]="['/pages/settings/batch-program-association']">
            <button type="button" class="btn btn-primary btn-with-icon">
              <i class="nb-arrow-right"></i>
              <span>Batch/Program Mapping</span>
            </button></a>
        </div>
        <div class="btn-with-icon-example" style="margin-top:17px">
            <a [routerLink]="['/pages/settings/program-branch-association']">
          <button type="button" class="btn btn-primary btn-with-icon" >
            <i class="nb-arrow-right"></i>
            <span>Program/Branch Mapping</span>
          </button></a>
        </div>
        <div class="btn-with-icon-example">
          <a [routerLink]="['/pages/settings/branch-semester-association']">
            <button type="button" class="btn btn-primary btn-with-icon" style="margin-top: 17px">
              <i class="nb-arrow-right"></i>
              <span>Branch/Semester Mapping</span>
            </button></a>
        </div>
        <div class="btn-with-icon-example">
          <a [routerLink]="['/pages/settings/semester-course-association']">
            <button type="button" class="btn btn-primary btn-with-icon" style="margin-top: 17px">
              <i class="nb-arrow-right"></i>
              <span>Semester/Course Mapping</span>
            </button></a>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>